.git
.gitignore
.env
.env.*
!.env.example
vendor
node_modules
storage/app/public/*
!storage/app/public/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
Dockerfile
docker-compose.yml
docker
*.md

